$dffont: 1rem;
$heading-font: 4rem;
$font-family: "poppins";

@mixin centermargin {
  margin: 0 auto;
}

@mixin flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin defaults {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}

@mixin links {
  display: block;
  position: relative;
  text-decoration: none;
}

@mixin resetmp {
  margin: 0;
  padding: 0;
}
