body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: poppins;
}

html {
  min-height: 100%;
  width: 100%;
  font-size: 1rem;
}

@media (max-width: 500px) {
  html {
    font-size: 0.85rem;
  }
}
* {
  box-sizing: border-box;
}

.commentscontainer {
  margin-inline: 2rem;
  max-height: calc(100vh - 10rem);
  padding-block: 1.5rem;
  overflow-y: scroll;
  scrollbar-width: none;
}
.commentscontainer::-webkit-scrollbar {
  display: none;
}

@media (max-width: 500px) {
  .commentscontainer {
    max-height: calc(100vh - 15rem);
  }
}
.comments {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  box-shadow: 0 0 2px 2px rgba(243, 243, 243, 0.6431372549);
  margin-bottom: 1.5rem;
  background: white;
  border-radius: 0.5rem;
}
.comments .leftcommentsection {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.comments .leftcommentsection .replybtnMobile {
  display: none;
}
.comments .leftcommentsection .deleteEditMobile {
  display: none;
}
.comments .leftcommentsection .buttonContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: 0.5rem;
  background-color: hsl(228deg, 33%, 97%);
}
.comments .leftcommentsection .buttonContainer div {
  background: hsl(228deg, 33%, 97%);
  color: hsl(238deg, 40%, 52%);
  font-weight: 600;
}
.comments .leftcommentsection .buttonContainer button {
  border-color: transparent;
  text-align: center;
  width: 2rem;
  height: 2rem;
  background: hsl(228deg, 33%, 97%);
  color: hsl(238deg, 40%, 52%);
  font-weight: 600;
  display: grid;
  place-items: center;
}
.comments .leftcommentsection .buttonContainer .plus {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  color: hsl(239deg, 57%, 85%);
  font-weight: 600;
}
.comments .leftcommentsection .buttonContainer .minus {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  color: hsl(239deg, 57%, 85%);
  font-weight: 600;
}
.comments .rightcommentsection {
  width: 100%;
}
.comments .rightcommentsection .commentheader {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
}
.comments .rightcommentsection .commentheader .name {
  font-weight: 600;
  color: hsl(212deg, 24%, 26%);
}
.comments .rightcommentsection .commentheader time {
  color: hsl(211deg, 10%, 45%);
}
.comments .rightcommentsection .commentheader .replybtn {
  color: hsl(238deg, 40%, 52%);
  margin-left: auto !important;
  font-weight: 600;
}
.comments .rightcommentsection .commentheader .editclass {
  color: hsl(238deg, 40%, 52%);
  font-weight: 600;
  cursor: pointer;
}
.comments .rightcommentsection .commentheader .deleteclass {
  color: hsl(358deg, 79%, 66%);
  margin-right: 0.25rem;
  margin-left: auto;
  cursor: pointer;
  font-weight: 600;
}
.comments .rightcommentsection .commentheader .avatar {
  width: 2rem;
  height: 2rem;
  background-image: url("../../design/images/avatars/image-amyrobson.png");
  background-size: cover;
  margin-right: 0.5rem;
}
.comments .rightcommentsection .commenttext {
  color: hsl(211deg, 10%, 45%);
  margin-block: 1rem;
}
.comments .rightcommentsection .commenttext .replyingTo {
  color: hsl(238deg, 40%, 52%);
  font-weight: 600;
  float: left;
  margin-right: 0.5rem;
}

@media (max-width: 500px) {
  .comments {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    box-shadow: 0 0 2px 2px rgba(243, 243, 243, 0.6431372549);
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    flex-flow: column;
  }
  .comments .leftcommentsection {
    display: flex;
    flex-flow: row;
    align-items: center;
    order: 2;
    justify-content: space-between;
  }
  .comments .leftcommentsection .deleteEditMobile {
    display: flex;
    gap: 1rem;
  }
  .comments .leftcommentsection .replybtnMobile {
    display: block;
    color: hsl(238deg, 40%, 52%);
    margin-left: auto !important;
    font-weight: 600;
  }
  .comments .leftcommentsection .buttonContainer {
    display: flex;
    flex-flow: row;
    gap: 1rem;
    align-items: center;
    border-radius: 0.5rem;
    background-color: hsl(228deg, 33%, 97%);
  }
  .comments .leftcommentsection .buttonContainer button {
    border-color: transparent;
    text-align: center;
    width: 2rem;
    height: 2rem;
    background: hsl(228deg, 33%, 97%);
    color: hsl(238deg, 40%, 52%);
    font-weight: 600;
    display: grid;
    place-items: center;
  }
  .comments .leftcommentsection .buttonContainer .plus {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  .comments .leftcommentsection .buttonContainer .minus {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  .comments .rightcommentsection {
    width: 100%;
  }
  .comments .rightcommentsection .commentheader {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: 100%;
  }
  .comments .rightcommentsection .commentheader .name {
    font-weight: 600;
    color: hsl(212deg, 24%, 26%);
  }
  .comments .rightcommentsection .commentheader time {
    color: hsl(211deg, 10%, 45%);
  }
  .comments .rightcommentsection .commentheader .replybtn {
    display: none;
    color: hsl(238deg, 40%, 52%);
    margin-left: auto !important;
    font-weight: 600;
  }
  .comments .rightcommentsection .commentheader .editclass {
    display: none;
    color: hsl(238deg, 40%, 52%);
    font-weight: 600;
    cursor: pointer;
  }
  .comments .rightcommentsection .commentheader .deleteclass {
    display: none;
    color: hsl(358deg, 79%, 66%);
    margin-right: 0.25rem;
    margin-left: auto;
    cursor: pointer;
    font-weight: 600;
  }
  .comments .rightcommentsection .commentheader .avatar {
    width: 2rem;
    height: 2rem;
    background-image: url("../../design/images/avatars/image-amyrobson.png");
    background-size: cover;
    margin-right: 0.5rem;
  }
  .comments .rightcommentsection .commenttext {
    color: hsl(211deg, 10%, 45%);
    margin-block: 1rem;
  }
  .comments .rightcommentsection .commenttext .replyingTo {
    color: hsl(238deg, 40%, 52%);
    font-weight: 600;
    float: left;
    margin-right: 0.5rem;
  }
}
.reply {
  padding-left: 2.5rem;
  margin-left: 2.5rem;
  border-left: 0.2rem solid rgba(244, 244, 244, 0.9019607843);
}

.postcomment {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-inline: 1.5rem;
  margin-bottom: 1.5rem;
  background: white;
  border-radius: 0.5rem;
  font-size: 1rem;
  display: flex;
  height: 8rem;
  padding: 1.5rem;
  gap: 1rem;
  align-items: flex-start;
  flex-grow: 1;
}
.postcomment .avatarButtonContainer {
  display: none;
}
.postcomment .textinput {
  width: 100%;
  height: 100%;
}
.postcomment .textinput textarea {
  resize: none;
  width: 100%;
  height: 100%;
  border-color: rgba(128, 128, 128, 0.616);
  padding: 1rem;
}
.postcomment .sendbtn {
  margin-left: auto;
  border: none;
  padding-block: 0.75rem;
  padding-inline: 1.75rem;
  background: hsl(238deg, 40%, 52%);
  color: white;
  font-weight: 600;
  border-radius: 0.5rem;
  font-size: 1rem;
}

@media (max-width: 500px) {
  .postcomment {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-inline: 1.5rem;
    margin-bottom: 1.5rem;
    background: white;
    border-radius: 0.5rem;
    display: flex;
    flex-flow: column;
    height: auto;
    padding: 1.5rem;
    gap: 1rem;
    align-items: flex-start;
    flex-grow: 1;
  }
  .postcomment .avatar {
    display: none;
  }
  .postcomment .avatarButtonContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .postcomment .avatarButtonContainer .avatar {
    display: flex;
  }
  .postcomment .avatarButtonContainer .sendbtn {
    display: flex;
  }
  .postcomment .textinput {
    width: 100%;
    height: 100%;
  }
  .postcomment .textinput textarea {
    resize: none;
    width: 100%;
    height: 100%;
    border-color: rgba(128, 128, 128, 0.616);
    padding: 1rem;
  }
  .postcomment .sendbtn {
    display: none;
    margin-left: auto;
    border: none;
    padding-block: 0.75rem;
    padding-inline: 1.75rem;
    background: hsl(238deg, 40%, 52%);
    color: white;
    font-weight: 600;
    border-radius: 0.5rem;
    font-size: 1rem;
  }
}
.postcommentrelative {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 1.5rem;
  background: white;
  border-radius: 0.5rem;
  display: flex;
  height: 8rem;
  padding: 1.5rem;
  gap: 1rem;
  align-items: flex-start;
  flex-grow: 1;
}
.postcommentrelative .avatarButtonContainer {
  display: none;
}
.postcommentrelative .textinput {
  width: 100%;
  height: 100%;
}
.postcommentrelative .textinput textarea {
  resize: none;
  width: 100%;
  height: 100%;
  border-color: rgba(128, 128, 128, 0.616);
  padding: 1rem;
}
.postcommentrelative .sendbtn {
  margin-left: auto;
  border: none;
  padding-block: 0.75rem;
  padding-inline: 1.75rem;
  background: hsl(238deg, 40%, 52%);
  color: white;
  font-weight: 600;
  border-radius: 0.5rem;
}

@media (max-width: 500px) {
  .postcommentrelative {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 1.5rem;
    background: white;
    border-radius: 0.5rem;
    display: flex;
    height: auto;
    flex-flow: column;
    padding: 1.5rem;
    gap: 1rem;
    align-items: flex-start;
    flex-grow: 1;
  }
  .postcommentrelative .avatar {
    display: none;
  }
  .postcommentrelative .avatarButtonContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .postcommentrelative .avatarButtonContainer .avatar {
    display: flex;
  }
  .postcommentrelative .avatarButtonContainer .sendbtn {
    display: flex;
  }
  .postcommentrelative .textinput {
    width: 100%;
    height: 100%;
  }
  .postcommentrelative .textinput textarea {
    resize: none;
    width: 100%;
    height: 100%;
    border-color: rgba(128, 128, 128, 0.616);
    padding: 1rem;
  }
  .postcommentrelative .sendbtn {
    display: none;
    margin-left: auto;
    border: none;
    padding-block: 0.75rem;
    padding-inline: 1.75rem;
    background: hsl(238deg, 40%, 52%);
    color: white;
    font-weight: 600;
    border-radius: 0.5rem;
  }
}
.deleteCommentOverlay {
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.336);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  display: grid;
  place-items: center;
}
.deleteCommentOverlay h2 {
  margin: 0;
  padding: 0;
}
.deleteCommentOverlay .deleteCommentModal {
  width: 40ch;
  padding: 2rem;
  background: white;
  border-radius: 1rem;
}
.deleteCommentOverlay .deleteCommentModal .confirmationbuttons {
  display: flex;
  flex-flow: row;
  flex-grow: 1;
  gap: 1rem;
  justify-content: stretch;
}
.deleteCommentOverlay .deleteCommentModal .confirmationbuttons div {
  width: 100%;
  text-align: center;
  border: none;
  padding-block: 0.75rem;
  padding-inline: 1.75rem;
  background: hsl(238deg, 40%, 52%);
  color: white;
  font-weight: 600;
  border-radius: 0.5rem;
  cursor: pointer;
}

#root {
  min-height: 100vh;
  display: block;
  height: auto;
  width: auto;
  position: relative;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.795) !important;
}

.mainapp {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  background: hsl(223deg, 19%, 93%);
  font-size: 1rem;
}

/*# sourceMappingURL=main.css.map */
