.comments {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  box-shadow: 0 0 2px 2px #f3f3f3a4;
  margin-bottom: 1.5rem;
  background: white;
  border-radius: 0.5rem;

  // left container
  .leftcommentsection {
    display: flex;
    flex-flow: column;
    align-items: center;

    // hide mobile reply
    .replybtnMobile {
      display: none;
    }

    // hide mobile delete edit buttons
    .deleteEditMobile {
      display: none;
    }

    // button container
    .buttonContainer {
      display: flex;
      flex-flow: column;
      align-items: center;
      border-radius: 0.5rem;
      background-color: $Verylightgray;

      div {
        background: $Verylightgray;
        color: $Moderateblue;
        font-weight: 600;
      }

      button {
        border-color: transparent;
        text-align: center;
        width: 2rem;
        height: 2rem;
        background: $Verylightgray;
        color: $Moderateblue;
        font-weight: 600;

        display: grid;
        place-items: center;
      }

      .plus {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        color: $Lightgrayishblue;
        font-weight: 600;
      }

      .minus {
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        color: $Lightgrayishblue;
        font-weight: 600;
      }
    }
  }

  // right container
  .rightcommentsection {
    width: 100%;

    .commentheader {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      width: 100%;

      // name
      .name {
        font-weight: 600;
        color: $Darkblue;
      }

      // time
      time {
        color: $GrayishBlue;
      }

      // reply and delete
      .replybtn {
        color: $Moderateblue;
        margin-left: auto !important;
        font-weight: 600;
      }

      // edit
      .editclass {
        color: $Moderateblue;
        font-weight: 600;
        cursor: pointer;
      }

      // delete
      .deleteclass {
        color: $SoftRed;
        margin-right: 0.25rem;
        margin-left: auto;
        cursor: pointer;
        font-weight: 600;
      }

      // avatar
      .avatar {
        width: 2rem;
        height: 2rem;
        background-image: url("../../design/images/avatars/image-amyrobson.png");
        background-size: cover;
        margin-right: 0.5rem;
      }
    }

    .commenttext {
      color: $GrayishBlue;
      margin-block: 1rem;

      .replyingTo {
        color: $Moderateblue;
        font-weight: 600;
        float: left;
        margin-right: 0.5rem;
      }
    }
  }
}

@import "./comments-mobile";
