.commentscontainer {
  margin-inline: 2rem;
  max-height: calc(100vh - 10rem);
  padding-block: 1.5rem;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;
}

@media (max-width: 500px) {
  .commentscontainer {
    max-height: calc(100vh - 15rem);
  }
}
